* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

/* NAV SECTION START */
nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

}

nav header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0.5rem;
    padding: 0.2rem 0.8rem;

}

nav header .logo-1 {
    width: 119px;
}

nav header #menu {
    width: 36px;
    height: 28.5px;
    padding: 0.35rem;
    float: right;
    align-self: center;
}



/* NAV SECTION END */

#links {
    padding: 1rem 1rem 1rem 0.5rem;
    width: 175px;
    height: 400px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    position: absolute;
    background-color: white;
    top: 0px;
    right: 0px;
    z-index: 1001;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    cursor: pointer;
}

#links.slide-menu.active {
    transform: translateX(0);
}

#menu {
    vertical-align: middle;
}

#links .close {
    margin-left: 0.5rem;
    width: 20px;
    padding: 0.3rem;
    
}

#links ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: end;
}

#links ul .normal-link {
    margin-bottom: 0.5rem;
    list-style-type: none;
}

#links ul .normal-link .main-normal-link {
    text-decoration: none;
    color: black;
}

#links ul .normal-link .main-normal-link:hover {
    color: #c70202;
    cursor: pointer;
    transition: color 0.3s ease;
}

#links ul li:hover {
    color: #c70202;
    cursor: pointer;
    transition: color 0.3s ease;
}

.social-wrap {
    display: flex;
    flex-direction: row;
}

.social-wrap a {
    text-decoration: none;
    color: black;
}

.social-wrap li {
    list-style-type: none;
}

.social-wrap li .socials {
    margin-right: 0.5rem;
    width: 20px;
    transition: color 0.3s ease;
}

.social-wrap li .socials:hover {
    color: #c70202;
}


/* HERO SECTION START */
.hero .hero-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 0.7rem 2.5rem 0.7rem;
    background-color: #e5e3e3;
    /* margin-bottom: 2rem; */
}

.hero .profile-pic {
    margin: 4.25rem 1rem 1rem 1rem;
    width: 220px;
}

.hero .hero-wrap {
    text-align: center;
}

.hero .hero-wrap h1 span {
    font-weight: 400;
}

.hero .hero-wrap p {
    font-size: 16px;
}

.hero-btn {
    margin: 1rem;
    padding: 0.2rem 0.8rem;
    background-color: #0594EB;
    border: none;
    outline: none;
    color: white;
    font-weight: 500;
    border-radius: 3px;
    font-size: 18px;
}
.hero-btn{
    transform: scale(0.9);
    transition: transform 0.3s ease;
}
.hero-btn-click {
    transform: scale(0.9);
    transition: transform 0.3s ease;

}

/* HERO SECTION END */

/* BLOG SECTION START */
.blog {
    display: grid;
    row-gap:2rem; 
    margin-top: 2rem;    
}
.blog .post{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e5e3e3;
    padding-top:1rem;
    margin:0.5rem ;
    border-radius: 0.5rem;
    box-shadow:0px 0px 5px rgba(0, 0, 0, 0.8);
}

.blog .post:hover{
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
    transform: translateY(-15px);
}

.blog-wrap {
    margin: 1rem 1rem 1rem 1rem;
}

.blog-wrap .blue{
    color: rgb(45, 102, 247);
    background-color: #d6e1ff;
    box-shadow:inset 0px 0px 3px #0131aa80;
    display: inline-block;
    padding: 0.14rem 0.5rem;
    font-size: 0.8rem;
    margin: 0.5rem 0rem 0.8rem 0rem;
    border-radius: 0.6rem;
}
.blog  .purple{
    color: rgb(108, 39, 219);
    background-color: #dec9ff;
    box-shadow:inset 0px 0px 3px rgba(40, 7, 92, 0.5);
        display: inline-block;
    padding: 0.14rem 0.5rem;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
    border-radius: 0.6rem;
    
}
.blog .post .blog-list{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.blog-wrap .owner{
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
    justify-content: space-between;
}
.blog-wrap .owner .author, .date{
    font-size: 0.8rem;
    color: #2e2e2e;
}
.blog-wrap .owner .seperate{
    font-size: 0.8rem;
    font-weight: 1000;
    vertical-align: middle;
    align-self: center;
}

.blog img {
    width:250px;
    border-radius: 0.5rem;
    /* margin-top: 3rem */
}


.blog-wrap h1 {
    line-height: 97%;
    font-weight: 630;
    margin-bottom: 1rem;
}
 .blog .blog-link{
    color: #c70202;
    text-decoration: none;
    cursor: pointer;
    display: block;
    font-size:small;
}

.blog-wrap .blog-part {
    font-weight: 500;
}

.blog-wrap .blog-link:hover {
    /* color: #670303; */
    font-weight: bold;
}

/* BLOG SECTION END */

#loadMore{
    text-align: center;
    margin-top: 2rem;
}
#loadMore a .load-btn{
    padding: 0.2rem 0.4rem;
    border-radius: 0.3rem;
    border: 1px solid #0594EB;
    outline: none;
    background-color: white;
}
#loadMore a .load-btn:hover{
    transform: scale(109%);
    background-color: #0594EB;
    color: white;
    font-weight: 500;
}

/* FOOTER SECTION START */
footer {
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 2rem;
}

.footer-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.footer-wrap a {
    color: #7B7777;
    text-decoration: none;
}

.footer-wrap li {
    list-style-type: none;
}

.footer-wrap li .socials {
    margin-right: 0.5rem;
    width: 20px;
    transition: color 0.3s ease;
    align-self: center;
    vertical-align: middle;
}

.footer-wrap li .socials:hover {
    color: #c70202;
}

footer .footer-img {
    width: 170px;
}

footer .footer-link {
    color: #7B7777;
    text-decoration: none;
    font-size: 15px;
}

footer .footer-link:hover {
    font-weight: bold;
    transition: 0.4s ease;

}

.footer-text {
    color: #7B7777;
    font-size: 15px;
}

/* FOOTER SECTION START */

